# 环境变量
.env
.env.local
*.env

# Python 缓存
__pycache__/
*.pyc

.python-version

# 虚拟环境
.adk/
.venv/
venv/
env/
ENV/

# IDE 配置（如 VSCode）
.vscode/
.idea/

.claude

chat_history/
chroma_db/
financial/.env.example/
.DS_Store

# 日志
logs/