# Fill in your GCP project info and rename this file to ".env".
# Only required for deployment on Agent Engine
DASHSCOPE_API_KEY=sk-5c976105850f4bfeadcd837b2c049668
ZHIPU_API_KEY=ff944805e2b64c8ea5269c869296d6c4.WNtAA3rMd22diVvp